.container
    .well
        fieldset
            h3 Disclaimer / Terms
            p
                li You agree not to engage in Denial of Service attacks(flooding web server with bogus requests) or undertake any activity, other than normal user navigation, that will degrade the performance or satisfaction of any website visitor.
                li We reserve the right to take necessary action to identify and prevent activity that purposely degrades the user experience of any other user such as Denial of Attacks, purposely engages in Invalid clicks or Invalid Impressions on Ads or Links per information above or sends mailbombs(mass or big emails) or engages in spamming. BY ACCEPTING THIS DISCLAIMER, YOU AGREE NOT TO HOLD US ACCOUNTABLE FOR ANY CLAIMS RESULTING AS PART OF OUR ACTIONS TO IDENTIFY/PREVENT SUCH ACTIVITY.
                li We cannot provide warranty that our web site or the web servers they are hosted at are free of viruses or other harmful components. However, we may implement various measures to ensure server security.
                li We cannot guarantee the site to be online at all times without interruptions.
                li We cannot guarantee the links on this site to be operational at all times without interruptions. If the links no longer functions, it may be removed after a certain time frame. If the link now points to a different website, we will try to update/remove it at our earliest convenience and take no responsibility where the new link points.
                li If you believe that this website infringes on your patent, trademark or copyright or have other legal concerns in regards to this website, you will contact us with sufficient details both via the email address and via the physical mailing address given in the About section.
                li We may modify this Disclaimer/Terms of Use section at any time without notice.
                li You must not republish / reproduce / distribute / copy / sell material contained in this website.
            .col-md-5.col-md-offset-5.btn-group
                button.btn.btn-primary(ng-click="accept()") Accept



