.container
    .well
        fieldset
            legend {{group.name}} Schedules - Period from {{period.startDate | date : format : timezone}} to {{period.endDate | date : format : timezone}}
            .calendar(ui-calendar="uiConfig.calendar" ng-model="eventSources")
            .loading(id="loading" )
                img.loading-image(id="loading-image" ng-src="/images/processing1.png")
            .col-md-6.col-md-offset-3
                a.btn.btn-default.printButtonClass(href="javascript: window.print()") Print
                | &nbsp
                a.btn.btn-default.printButtonClass(href="" ng-click="updateSchedule()") Update Schedule
                | &nbsp
                a.btn.btn-default.printButtonClass(href="" ng-click="regenerate()") Re-generate Schedule
                | &nbsp
                a.btn.btn-default.printButtonClass(href="/schedule/schedule_periods/{{group._id}}") Back to group
