.container
    .well
        fieldset
            legend {{groupName}} Schedules
            .calendar(ui-calendar="uiConfig.calendar" ng-model="eventSources")
            .col-md-5.col-md-offset-5
                a.btn.btn-default(href="javascript: window.print()") Print
                | &nbsp
                a.btn.btn-default(href="/schedule/groups") Back to Groups

