.container
    .well
        form.form-horizontal(editable-form="", name="availabilityForm", onaftersave="saveMemberAvailability(memberAvailability)")
            fieldset
                legend {{memberAvailability.member.firstName}} {{memberAvailability.member.lastName}} availability
                    button.btn.btn-default.btn-xs.btn-xs-margin-top.pull-right(type="button" ng-click="monthNext()" ng-show="!availabilityForm.$visible") >
                    span.pull-right.date-fix-width &nbsp; {{month}} {{year}} &nbsp;
                    button.btn.btn-default.btn-xs.btn-xs-margin-top.pull-right(type="button" ng-click="monthPrev()" ng-show="!availabilityForm.$visible") <
                .form-group
                    .col-md-2
                        span Days prefer to work
                    .col-md-10
                        span(editable-text="memberAvailability.preferWorkDays" e-placeholder="Enter days separated by comma. eg. 2,3,5,12,15" e-name="preferWorkDays" onbeforesave="checkData($data, 'preferWorkDays')") {{ memberAvailability.preferWorkDays.length?  memberAvailability.preferWorkDays.toString(): 'empty' }}
                .form-group
                    .col-md-2
                        span Days cannot work
                    .col-md-10
                        span(editable-text="memberAvailability.noWorkDays" e-placeholder="Enter days separated by comma. eg. 2,3,5,12,15" e-name="noWorkDays" onbeforesave="checkData($data, 'noWorkDays')") {{ memberAvailability.noWorkDays.length? memberAvailability.noWorkDays.toString() : 'empty' }}
                .form-group
                    .col-md-2
                        span Days prefer to be off
                    .col-md-10
                        span(editable-text="memberAvailability.preferOffDays" e-placeholder="Enter days separated by comma. eg. 2,3,5,12,15" e-name="preferOffDays" onbeforesave="checkData($data, 'preferOffDays')") {{ memberAvailability.preferOffDays.length? memberAvailability.preferOffDays.toString() : 'empty' }}
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-default(type="button", ng-disabled="availabilityForm.$waiting", ng-click="availabilityForm.$show()" ng-show="!availabilityForm.$visible") Edit
                            span(ng-show="availabilityForm.$visible")
                                button.btn.btn-primary(type="submit", ng-disabled="availabilityForm.$waiting") Save
                                | &nbsp;
                                button.btn.btn-default(type="button", ng-disabled="availabilityForm.$waiting", ng-click="availabilityForm.$cancel()") Cancel
                            | &nbsp;
                            a.btn.btn-default(ng-show="!availabilityForm.$visible" href="/schedule/member/group/{{groupId}}") Back