.container
    .well
        fieldset
            legend Group
            table.table
                .div(ng-repeat="member in members")
                    a(href="/schedule/memberAvailability/{{member._id}}/{{year}}/{{month}}") {{member.firstName}} {{member.lastName}}



