doctype
html
    head
        title Scheduler
        link(rel="styleSheet", href="/css/bootstrap.css")
        link(rel="styleSheet", href="/vendor/toastr/toastr.css")
        link(rel="styleSheet", href="/vendor/angular-xeditable/dist/css/xeditable.css")
        link(rel="stylesheet" href="/vendor/fullcalendar/dist/fullcalendar.css")
        link(rel="styleSheet", href="/css/site.css")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts